.todo-item > * {
  margin: 0 4px;
}

.todo-item-status-icon {
  display: block;
  border-radius: 100%;
  border: 2px solid gray;
  width: 16px;
  height: 16px;
  background-color: transparent;
  position: relative;
}

.todo-item-status-icon.done {
  background-color: rgb(119, 212, 135);
}

.todo-item-status-icon.done::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 2px;
  transform: translate(-50%, -50%) rotate(70deg);
  background-color: #fff;
  margin-top: 2px;
  margin-left: -2px;
}

.todo-item-status-icon.done::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  transform: translate(-50%, -50%) rotate(26deg);
  background-color: #fff;
  margin-left: 1px;
}