button {
  cursor: pointer;
}

ul {
  padding: 0;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shirink-0 {
  flex-shrink: 0;
}

.text-center {
  text-align: center;
}

.text-xlg {
  font-size: 24px;
}

.text-lg {
  font-size: 20px;
}

.text-md {
  font-size: 18px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

.hidden {
  display: none;
}

.rounded-full {
  border-radius: 50%;
}